config = {
    httpOptions: {
        protocol: 'https:', // 'http:' or 'https:'; default is 'https:'
        hostname: 'localhost',
        port: 3000
    },
    messages: {
        auth: {
            key: 'e83249bd3ba79932e16fb1fb5100dafade9954c2'
        },
        tm_ping_every: 30000, // msec
        tm_temphumid_every: 5000 // msec
    },
    dhtSensor: {
        gpionum: 6
    }
}

module.exports.config = config