config = {
    httpOptions: {
        hostname: 'localhost',
        port: 3000
    },
    messageAuth: {
        key: 'e83249bd3ba79932e16fb1fb5100dafade9954c2'
    },
    dhtSensor: {
        gpionum: 6
    }
}

module.exports.config = config